<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% load staticfiles %}              <!-- added subsequently, in order to allow for inserting images -->

    <h1>Because the Night</h1>
    <p>Welcome to <em>Because the Night</em>, a simple Website developed in honor of that legendary song :)</p>

    <img src="{% static 'images/patti.jpg'%}" alt="">   <!-- added subsequently (music/static/images/patti.jpg) -->
    <br>
    <br>
    <hr>

    <h2>Dynamic content</h2>
    <br>


</body>
</html>