{% extends "base_generic.html" %}
{% load staticfiles %}              <!-- added subsequently, in order to allow for inserting images -->

{% block content %}
    <h1>Because the Night</h1>
    <p>Welcome to <em>Because the Night</em>, a simple Website developed in honor of that legendary song :)</p>

    <img src="{% static 'images/patti.jpg'%}" alt="">   <!-- added subsequently (music/static/images/patti.jpg) -->
    <br>
    <br>
    <hr>

    <h2>Dynamic content</h2>
    <br>
    {% if performer_list %} <!-- alias for object_list (passed by ListView); either will work -->
{#    {% if object_list %} <!-- good alternative; it is more universal and works for different models -->#}
        <p>The site has records of the following performers:</p>
        <ul>
        {% for performer in performer_list %}
{#        {% for performer in object_list %} <!-- good alternative, if object_list is used above as well -->#}

{#            <li><a href="{% url 'performer-list' performer.pk %}">{{ performer.name }}</a></li> <!--doesn't work-->#}
{#            <li><a href="/music/performers/{{ performer.pk }}/">{{ performer.name }}</a></li> <!--inflexible--> #}
            <li><a href="{% url 'performer-detail' performer.pk %}">{{ performer.name }}</a></li>
{#            <li><a href="{{ performer.get_absolute_url }}">{{ performer.name }}</a></li> <!--good alternative-->#}
        {% endfor %}
        </ul>
    {% else %}
        <p>No performers are available.</p>
    {% endif %}
{% endblock %}
